<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /medilens_v2/
  
  # Ensure index.html is the directory index
  DirectoryIndex index.html

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /medilens_v2/index.html [L]
</IfModule>
